div {
  position: relative;
}
input {
  border-radius: 5px;
  background-color: darkgray;
  height: 2rem;
}
textarea {
  border-radius: 5px;
  background-color: darkgray;
}
.plusButton {
  border-radius: 0.7rem;
  background-color: white;
  font-size: 30px;
}
.answer {
  background-color: white;
  margin: "auto";
  width: "200px";
  word-wrap: "break-word";
  display: "block";
  border: "solid";
  border-width: "3px";
  align-items: "center";
}
td {
}
